In [7]:
import pandas as pd

In [10]:
state_data = pd.read_csv("Data/state.csv")
state_data.head()

   state_id State_abbv  State_full  Population
0         1         AL     Alabama   4,833,722
1         2         AK      Alaska     735,132
2         3         AZ     Arizona   6,626,624
3         4         AR    Arkansas   2,959,373
4         5         CA  California  38,332,521