In [117]:
import pandas as pd

In [118]:
file = "..\Data\VSRR_Provisional_Drug_Overdose_Death_Counts.csv"

In [119]:
db = pd.read_csv(file)

In [120]:
db.dtypes

State                             object
Year                               int64
Month                             object
Period                            object
Indicator                         object
Data Value                        object
Percent Complete                  object
Percent Pending Investigation    float64
State Name                        object
Footnote                          object
Footnote Symbol                   object
Predicted Value                   object
dtype: object

In [121]:
db

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
0,AK,2015,April,12 month-ending,Natural & semi-synthetic opioids (T40.2),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
1,AK,2015,April,12 month-ending,Methadone (T40.3),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
2,AK,2015,April,12 month-ending,Cocaine (T40.5),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
3,AK,2015,April,12 month-ending,Heroin (T40.1),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
4,AK,2015,April,12 month-ending,Opioids (T40.0-T40.4|T40.6),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
5,AK,2015,April,12 month-ending,Psychostimulants with abuse potential (T43.6),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
6,AK,2015,April,12 month-ending,Natural & semi-synthetic opioids| incl. methad...,NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
7,AK,2015,April,12 month-ending,Natural| semi-synthetic| & synthetic opioids| ...,NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
8,AK,2015,April,12 month-ending,Number of Deaths,"4,133",100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
9,AK,2015,April,12 month-ending,Percent with drugs specified,88.0952381,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
10,AK,2015,April,12 month-ending,Number of Drug Overdose Deaths,126,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,127
11,AK,2015,April,12 month-ending,Synthetic opioids| excl. methadone (T40.4),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
12,AK,2015,August,12 month-ending,Psychostimulants with abuse potential (T43.6),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
13,AK,2015,August,12 month-ending,Cocaine (T40.5),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
14,AK,2015,August,12 month-ending,Synthetic opioids| excl. methadone (T40.4),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
15,AK,2015,August,12 month-ending,Heroin (T40.1),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
16,AK,2015,August,12 month-ending,Methadone (T40.3),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
17,AK,2015,August,12 month-ending,Percent with drugs specified,87.90322581,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
18,AK,2015,August,12 month-ending,Natural & semi-synthetic opioids (T40.2),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
19,AK,2015,August,12 month-ending,Number of Drug Overdose Deaths,124,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,125
20,AK,2015,August,12 month-ending,Natural| semi-synthetic| & synthetic opioids| ...,NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
21,AK,2015,August,12 month-ending,Number of Deaths,"4,222",100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
22,AK,2015,August,12 month-ending,Opioids (T40.0-T40.4|T40.6),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
23,AK,2015,August,12 month-ending,Natural & semi-synthetic opioids| incl. methad...,NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
24,AK,2015,December,12 month-ending,Natural & semi-synthetic opioids (T40.2),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
25,AK,2015,December,12 month-ending,Number of Deaths,"4,193",100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
26,AK,2015,December,12 month-ending,Synthetic opioids| excl. methadone (T40.4),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
27,AK,2015,December,12 month-ending,Heroin (T40.1),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
28,AK,2015,December,12 month-ending,Methadone (T40.3),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
29,AK,2015,December,12 month-ending,Psychostimulants with abuse potential (T43.6),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
22470,WY,2018,September,12 month-ending,Percent with drugs specified,100,100,0.021920,Wyoming,Underreported due to incomplete data.,*,NaN
22471,WY,2018,September,12 month-ending,Natural & semi-synthetic opioids| incl. methad...,32,100,0.021920,Wyoming,Underreported due to incomplete data.,*,33
22472,WY,2018,September,12 month-ending,Natural| semi-synthetic| & synthetic opioids| ...,41,100,0.021920,Wyoming,Underreported due to incomplete data.,*,42
22473,WY,2018,September,12 month-ending,Heroin (T40.1),NaN,100,0.021920,Wyoming,Underreported due to incomplete data. Data su...,*,NaN
22474,WY,2018,September,12 month-ending,Opioids (T40.0-T40.4|T40.6),46,100,0.021920,Wyoming,Underreported due to incomplete data.,*,47
22475,WY,2018,September,12 month-ending,Synthetic opioids| excl. methadone (T40.4),13,100,0.021920,Wyoming,Underreported due to incomplete data.,*,14
22476,WY,2019,February,12 month-ending,Natural & semi-synthetic opioids (T40.2),29,100,0.064823,Wyoming,Underreported due to incomplete data.,*,30
22477,WY,2019,February,12 month-ending,Natural & semi-synthetic opioids| incl. methad...,30,100,0.064823,Wyoming,Underreported due to incomplete data.,*,31
22478,WY,2019,February,12 month-ending,Psychostimulants with abuse potential (T43.6),15,100,0.064823,Wyoming,Underreported due to incomplete data.,*,16
22479,WY,2019,February,12 month-ending,Cocaine (T40.5),NaN,100,0.064823,Wyoming,Underreported due to incomplete data. Data su...,*,NaN
22480,WY,2019,February,12 month-ending,Percent with drugs specified,98.30508475,100,0.064823,Wyoming,Underreported due to incomplete data.,*,NaN
22481,WY,2019,February,12 month-ending,Methadone (T40.3),NaN,100,0.064823,Wyoming,Underreported due to incomplete data. Data su...,*,NaN
22482,WY,2019,February,12 month-ending,Number of Drug Overdose Deaths,59,100,0.064823,Wyoming,Underreported due to incomplete data.,*,60
22483,WY,2019,February,12 month-ending,Number of Deaths,"4,628",100,0.064823,Wyoming,Underreported due to incomplete data.,*,NaN
22484,WY,2019,February,12 month-ending,Opioids (T40.0-T40.4|T40.6),42,100,0.064823,Wyoming,Underreported due to incomplete data.,*,43
22485,WY,2019,February,12 month-ending,Heroin (T40.1),NaN,100,0.064823,Wyoming,Underreported due to incomplete data. Data su...,*,NaN
22486,WY,2019,February,12 month-ending,Natural| semi-synthetic| & synthetic opioids| ...,38,100,0.064823,Wyoming,Underreported due to incomplete data.,*,39
22487,WY,2019,February,12 month-ending,Synthetic opioids| excl. methadone (T40.4),11,100,0.064823,Wyoming,Underreported due to incomplete data.,*,12
22488,WY,2019,January,12 month-ending,Natural & semi-synthetic opioids (T40.2),27,100,0.086096,Wyoming,Underreported due to incomplete data.,*,28
22489,WY,2019,January,12 month-ending,Natural| semi-synthetic| & synthetic opioids| ...,36,100,0.086096,Wyoming,Underreported due to incomplete data.,*,37
22490,WY,2019,January,12 month-ending,Percent with drugs specified,98.33333333,100,0.086096,Wyoming,Underreported due to incomplete data.,*,NaN
22491,WY,2019,January,12 month-ending,Methadone (T40.3),NaN,100,0.086096,Wyoming,Underreported due to incomplete data. Data su...,*,NaN
22492,WY,2019,January,12 month-ending,Psychostimulants with abuse potential (T43.6),17,100,0.086096,Wyoming,Underreported due to incomplete data.,*,18
22493,WY,2019,January,12 month-ending,Cocaine (T40.5),NaN,100,0.086096,Wyoming,Underreported due to incomplete data. Data su...,*,NaN
22494,WY,2019,January,12 month-ending,Natural & semi-synthetic opioids| incl. methad...,28,100,0.086096,Wyoming,Underreported due to incomplete data.,*,29
22495,WY,2019,January,12 month-ending,Heroin (T40.1),NaN,100,0.086096,Wyoming,Underreported due to incomplete data. Data su...,*,NaN
22496,WY,2019,January,12 month-ending,Number of Drug Overdose Deaths,60,100,0.086096,Wyoming,Underreported due to incomplete data.,*,61
22497,WY,2019,January,12 month-ending,Number of Deaths,"4,646",100,0.086096,Wyoming,Underreported due to incomplete data.,*,NaN
22498,WY,2019,January,12 month-ending,Opioids (T40.0-T40.4|T40.6),41,100,0.086096,Wyoming,Underreported due to incomplete data.,*,42
22499,WY,2019,January,12 month-ending,Synthetic opioids| excl. methadone (T40.4),10,100,0.086096,Wyoming,Underreported due to incomplete data.,*,11

In [122]:
dropped_db = db.iloc[:,[0,1,4,5]]

In [123]:
dropped_db.filter(like= ' ', axis=0)

Empty DataFrame
Columns: [State, Year, Indicator, Data Value]
Index: []

In [124]:
dropped_db.loc['opiods', axis=0]

SyntaxError: invalid syntax (<ipython-input-124-69abc486fbef>, line 1)

In [125]:
dropped = dropped_db.dropna()

In [126]:
dropped.dtypes

State         object
Year           int64
Indicator     object
Data Value    object
dtype: object

In [127]:
dropped["Data Value"] = pd.to_numeric(dropped["Data Value"])

ValueError: Unable to parse string "4,133" at position 0

In [128]:
test = dropped.set_index('Indicator')

In [129]:
data = test.loc["Opioids (T40.0-T40.4|T40.6)"]

In [130]:
data['Data Value'] = data['Data Value'].str.replace(',', '')

C:\Users\hayde\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [131]:
data['Data Value']= pd.to_numeric(data['Data Value'])

C:\Users\hayde\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [134]:
data.groupby('Year').sum()

      Data Value
Year
2015      169995
2016      255568
2017      310322
2018      340992
2019       57783

In [141]:
clean_data = data.groupby(["State","Year"]).sum()

In [143]:
clean_data.to_csv('Cleaned_Op_Death_data.csv')

In [144]:
clean_data

            Data Value
State Year
AK    2015         165
      2016        1163
      2017        1110
      2018         990
      2019         136
AZ    2017        6208
      2018       12331
      2019        2295
CT    2015        7164
      2016        9528
      2017       11231
      2018       11444
      2019        1918
DC    2015        1050
      2016        1989
      2017        3454
      2018        2639
      2019         440
DE    2018        3291
      2019         724
GA    2015        4421
      2016       10280
      2017       11903
      2018       10995
      2019        1688
HI    2016         802
      2017         345
      2018         497
      2019         127
IA    2015        1944
...                ...
UT    2018        5539
      2019         867
VA    2015        9295
      2016       11715
      2017       13957
      2018       14204
      2019        2446
VT    2015         851
      2016        1078
      2017        1332
      2018        1374
      2019         241
WA    2015        8296
      2016        8894
      2017        8409
      2018        8902
      2019        1476
WI    2015        1288
      2016        8474
      2017       10817
      2018       10625
      2019        1658
WV    2015        7341
      2016        8172
      2017       10024
      2018        9249
      2019        1432
WY    2017         404
      2018         497
      2019          83

[151 rows x 1 columns]